@import url('https://fonts.googleapis.com/css2?family=Bai+Jamjuree:wght@400;500;600;700&display=swap');

/*BASIC RESET*/

:root {
    --color-body: #b6cbce;
    --color-heading: #eef3db;
    --color-base: #033f47;
    --color-base2: #022a30;
    --color-brand: #e0f780;
    --color-brand2: #deff58;
    --sidbar-width: 240px;
    --font-base: "Bai Jamjuree";
}

body {
    background-color: var(--color-base2);
    color: var(--color-body);
    font-family: var(--font-base), sans-serif;
}

h1,h2,h3,h4,h5,h6 {
    color: var(--color-heading);
    font-weight: 700;
}

a {
    text-decoration: none;
    color: var(--color-body);
    transition: all 0.4s ease;
}

a:hover {
    color: var(--color-brand);
}

img {
    width: 100%;
}

.bg-base {
    background-color: var(--color-base);
}

.shadow-effect {
    transition: all 0.5s;
}

.shadow-effect:hover {
    box-shadow: -6px 6px 0 0 var(--color-brand);
}




/*NAVBAR*/

@media (min-width: 992px) {
    .navbar {
        position: fixed; 
        top: 0; 
        left: 0; 
        width: 100%; 
        min-height: 100px; 
        background: linear-gradient(rgba(3, 63, 71, 0.8), rgba(3, 63, 71, 0.8)), url(../images/sidebar-img.jpg);
        background-size: cover;
        background-position: center;
        z-index: 1000; 
    }
}

.navbar {
    background-color: var(--color-base);
}

.navbar .nav-link {
    font-weight: 700;
    text-transform: uppercase;
    color: #fff;
}

.navbar .nav-link:hover {
    color: var(--color-brand);
}

.navbar .nav-link.active {
    color: var(--color-brand);
}


/*VIDEO-CONTAINER*/

.video-container {
    margin-top: 100px; 
    
    
}

#userImage {
    max-width: 100%;
    height: auto;
    transition: transform 0.3s ease-in-out; 
    border-radius: 50%;
    margin-top: 30px;
    margin-right: 10px;
}

#userImage:hover {
    transform: scale(1.1); 
    border-radius: 10%; 
}


.text-brand {
    color: var(--color-brand);

/*DIVIDER-LINE*/

.section-divider {
    border: none; /* Remove default border */
    height: 1px; /* Set the height of the divider line */
    background-color: #ccc; /* Set the color of the divider line */
    margin: 20px 10; /* Add some margin above and below the divider line */
}


